@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* 目次 */
.contents_head_h3 {
  margin-left: 24px;
}
.contents_head_h4 {
  margin-left: 48px;
}

/* カスタムクラス */

/* ハイライト */
.highlight {
  font-weight: bold;
  background: linear-gradient(
    transparent 50%,
    #fcff52 60% 90%,
    transparent 90%
  );
}

/* ボタン */
p:has(a > .button-01) {
  text-align: center;
}
a:has(.button-01) {
  text-decoration: none;
}
.button-01 {
  display: inline-block;
  background-color: #EE7B1C;
  box-shadow: 0 4px 9px hsla(38, 100%, 30%, 0.27);
  padding: 19px 67px 18px;
  border-radius: 60px;
  color: #fff;
  position: relative;
  font-weight: bold;
}
.button-01::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  line-height: 1;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 0.375em 0.64952em;
  border-left-color: currentColor;
  border-right: 0;
}
@media (max-width: 765px) {
  .button-01 {
    padding: 13.5px 46.23px;
  }
}

/* 注意文、補足分 */
.c-caution, .c-supplement {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  padding: 20px 20px 20px 10px;
  border-radius: 8px;
  font-size: 16px;
}
.c-caution::before, .c-supplement::before{
  content: "";
  flex: 0 0 24px;
  height: 24px;
  background-size: contain;
}
.c-caution {
  background-color: #f3d6d6;
}
.c-caution::before {
  background: url('img/icon_warning.svg') no-repeat center center;
}
.c-supplement {
  background-color: #E8F3D5;
}
.c-supplement::before {
  background: url('img/icon_supplement.svg') no-repeat center center;
}

/* リストブロック */
.c-list-block {
  display: inline-block;
  margin: 1rem;
  padding: 1rem;
  background-color: #F2F7FF;
  font-weight: bold;
}
